{% extends "layout.html" %}
{% block body %}
    <form id="login-form" action="/login/" method="POST">
        <input id="name-field" type="text" placeholder="username"></input>
        <input id="pass-field" type="password" placeholder="password"></input>
        <input type="submit">Submit</input>
    </form>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
           integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
           crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}
